<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="javascript:;" th:href="@{/}">Contatos</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>

<main role="main">
    <section class="my-4">
        <div class="container">
            <h2>Cadastro de contatos</h2>
        </div>
    </section>

    <section>
        <div class="container">
            <form (ngSubmit)="save(myForm)" #myForm="ngForm" class="form-signin">
                <div class="form-group">
                    <input type="text" id="Nome" name="Nome" class="form-control"
                        placeholder="Nome" [(ngModel)]="contato.Nome">
                    <input type="email" id="Email" name="Email" class="form-control"
                        placeholder="Email" [(ngModel)]="contato.Email">
                    <input type="text" id="Telefone" name="Telefone" class="form-control"
                        placeholder="Telefone " [(ngModel)]="contato.Telefone">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Incluir</button>
            </form>
            <div>
                <input type="button" class="btn btn-lg btn-secondary btn-block" (click)="listar()" value="Listar todos os Registros"/>
            </div>
            
        </div>
    </section>

    <section class="mt-5">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light text-center">
                        <tr>
                            <th>Código</th>

                            <th class="w-50">Nome</th>

                            <th class="w-25">E-mail</th>

                            <th class="w-50">Telefone</th>

                            <th class="w-50">Deletar</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let c of contatos">
                            <td class="text-center w-25">{{c.Id}}</td>

                            <td>{{c.Nome}}</td>

                            <td>{{c.Email}}</td>

                            <td >{{c.Telefone}}</td>

                            <td >
                                <input type="button" class="btn btn-danger" (click)="delete(c.Id)" value="Deletar Registro"/>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>